/* *{
    padding: 0;
    margin: 0;
box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: red;
}
.movie{
    width: 100%;
    max-width: 1200px;
     display: flex;
  flex-wrap: wrap;        /* allows multiple movies */
  /* justify-content: center; 
gap: 15px;
}
@media  screen and (min-width:990px) {
    .movie{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
        justify-content: space-evenly;
          display: flex;
  flex-wrap: wrap;        /* allows multiple movies */
  /* justify-content: center; 


}

.movie img{
    border: 1px solid #b40000;
    padding: 5px;
    background-color: rgb(134, 134, 134);
}
}  */
  /* .post-container{
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;}
    h2.title{
        font-size: 1.2rem;
        margin: 10px 0;
    }
    .card{
        width: 100%;
        height: 100%;
        border: 1px solid #0e0d0d;
        box-shadow: 2px 2px 5px 10px rgba(0,0,0,0.2);
    }
    a.button{
        display: inline-block;
        padding: 10px 15px;
        background-color: #b40000;
        color: #fff;
        text-decoration: none;
        border: 1px solid #b40000;
        border-radius: 5px;
    }

    @media screen and (min-width:990px) {
        .post-container{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 20px;

        }
        
    } */

    /* .container{
        width: 100%;
        height: 100%;
        max-width: 1200px;
        margin: 2rem auto;
    }
    .comments-container{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1fr);
    }
    .comment{
        background: #f3f3fb;
    }
    
    .comments-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1px;
    }
    .comments-header h3{
        justify-content: space-between;
    }
    li{
        list-style: none;
    }
    .name{
          display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  margin-left: 10px;
    }
   @media screen and (min-width:720px) {
        .comments-container{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 20px;

        }}

        .btn{
            padding: 20px;
            border: none;
            background-color: #b40000;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
        } */

        form{
            width: 100%;
            justify-content: center;
            align-items: center;
            max-width: 600px;
            padding: 30px 30px 25px 25px ;
            gap: 10px;
            margin: auto;
            box-shadow: 2px 2px 5px 10px rgba(0,0,0,0.2);
            background-color: #eaeaff;
        }
        .form-content {
            display: flex;
            padding: 10px;
            align-items: center;
            justify-content: center;
        }
       .btn{
            padding: 10px 15px;
            display: flex;
            justify-content: center;
        }   
        .btn button{
            background: red;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
        }
  .add-btn{
     background: rgb(69, 46, 46);
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            margin-left: 5px;
  }
  .input{
    padding: 10px
  }
  li{
    list-style: none;
  }
  .item{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    margin-right: 25px;
 
  }
  .main{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid black;
    margin-top: 5px;
    padding: 15px;
  }
  .edit-btn{
     background: rgb(69, 46, 46);
            color: white;
            padding: 10px 10px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            margin-left: 5px;
  }
  .delete-btn{
     background: rgb(69, 46, 46);
            color: white;
            padding: 10px 10px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            margin-left: 5px;
  }
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 10px;
  
  }
  li,img{
      width: 100%;
    max-width: 350px;
  }
  .text{
    text-align: center;
    background: #ab9595;
    border: none;
    border-radius: 5px;
    font-size: bold;
    font-family: 'Times New Roman', Times, serif;
  }
  .count{
    font-size: bold;
    
  }